
html,
body {
  /* max-width: 100vw;
  max-height: 100vh; */
  overflow-x: hidden;
  margin: 0;
  background-color: #f9fafb;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.5s ease-out forwards;
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-15px);
    animation: fadeInLeft 0.5s ease-out forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
